**/*.dll
**/*.exe
**/*.pdb
**/*.exe
**/*.cache
**/Debug/
**/.vs/
**/bin/
**/obj/
*.user
/Web/log4net.config
/Web/wwwroot/temp
/Web/ScaffoldingReadMe.txt
**/tempUploadFiles/*.*
/Web/wwwroot/files/tempUploadFiles
/WebApi/WebApi/data/*.data
**/appsettings.localhost.json
**/appsettings.*.localhost.json
/WebPublic/Data/Category/**/*.json